.DS_Store
.dart_tool/
scripts/node_modules
scripts/himnos
.packages
.pub/
screenshots/

build/

.flutter-plugins
.fvm/flutter_sdk
android/key.properties
.flutter-plugins-dependencies
fastlane-user.json