<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>880423373610-hs4borjaktk4s174230p633jncqah9sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880423373610-hs4borjaktk4s174230p633jncqah9sa</string>
	<key>API_KEY</key>
	<string>AIzaSyBx3EXr6xNTzfXtOdxbct_h1GrkQfg14-A</string>
	<key>GCM_SENDER_ID</key>
	<string>880423373610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>desfase</string>
	<key>PROJECT_ID</key>
	<string>himnario-51069</string>
	<key>STORAGE_BUCKET</key>
	<string>himnario-51069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880423373610:ios:d9e954f44166c40e</string>
	<key>DATABASE_URL</key>
	<string>https://himnario-51069.firebaseio.com</string>
</dict>
</plist>